# T:1

#### Write a prog to print twinkle twinkle little star poem in py

In [7]:
print("twinkle twinkle little star")

print('''Auden was working at The Downs, a prep school in Malvern.
Ben Britten visited him there and they wrote a set of cabaret songs 
(which includes ‘Tell me the truth about love”) Britten had already 
written incidental music for Auden-Isherwood play ‘The Ascent of F6’
Auden’s ‘Out on the lawn I lie in bed’ is sung as part of Britten’s
Spring Symphony''')

twinkle twinkle little star
Auden was working at The Downs, a prep school in Malvern.
Ben Britten visited him there and they wrote a set of cabaret songs
(which includes ‘Tell me the truth about love”) Britten had already
written incidental music for Auden-Isherwood play ‘The Ascent of F6’
Auden’s ‘Out on the lawn I lie in bed’ is sung as part of Britten’s
Spring Symphony

#### Use REPL and print the table of 5 using it.

In [5]:
5*1

5

In [6]:
5*2

10

#### Install an external module and use it to perform an operation of your interest

In [10]:
import sys
!{sys.executable} -m pip install playsound

Requirement already satisfied: playsound in c:\users\global\anaconda3\lib\site-packages (1.2.2)

In [ ]:
from playsound import playsound
playsound('C:\\Users\\global\\Downloads\\.mp3')

#### Write a py prog to find the contenets of a  directory using os module. Search online for the function which does that

In [20]:
import os
print(os.listdir())

['.android', '.cache', '.conda', '.condarc', '.config', '.continuum', '.eclipse', '.ipynb_checkpoints', '.ipython', '.jupyter', '.matplotlib', '.nx', '.p2', '.VirtualBox', '.vscode', '1.csv', '3D Objects', 'anaconda3', 'AppData', 'Application Data', 'Assignment 2 - Functions.ipynb', 'Assignment 3 - Functions.ipynb', 'Assignment 4 Perform exploratory data analysis.ipynb', 'Assignment 5 Programming with Python (Functions).ipynb', 'Brainly .ipynb', 'brainly beam', 'Condition Program .ipynb', 'Contacts', 'Cookies', 'Data Camp.ipynb', 'data.csv', 'Desktop', 'Dictionary Assignment.ipynb', 'Documents', 'Downloads', 'eclipse', 'eclipse-workspace', 'Favorites', 'File Operation.ipynb', 'IdeaProjects', 'Links', 'Local Settings', 'Loop.ipynb', 'MicrosoftEdgeBackups', 'Music', 'My Documents', 'NetHood', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TM.blf', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{53b39e88-18c4-11ea-a811-000d3aa4692b}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'Numpy.ipynb', 'OneDrive', 'Pictures', 'PrintHood', 'PycharmProjects', 'Python Harry Practice sets.ipynb', 'Python Harry.ipynb', 'Python Ninja.ipynb', 'Recent', 'RegEX (session 2).ipynb', 'regex session 3.ipynb', 'Saved Games', 'Searches', 'SendTo', 'sjava', 'Start Menu', 'Task 1    Name - Harsh Shah     Referral id - SIRSS1200.ipynb', 'Task 8     Name - Harsh Shah       Referral id - SIRSS1200.ipynb', 'Task-2_Clustering.ipynb', 'Task-3_Decision_Tree.ipynb', 'Task-4_Stock_Price.ipynb', 'Task-5_Superstore.xlsx', 'Task-6_Covid19.twb', 'Task-6_Dataset.xlsx', 'TASK1.ipynb', 'Templates', 'train.csv', 'Untitled.ipynb', 'Untitled1.ipynb', 'Untitled2.ipynb', 'Untitled3.ipynb', 'Untitled4.ipynb', 'Untitled5.ipynb', 'Videos', 'VirtualBox VMs', '_netrc']

# T:2

#### Write a py prog to add 2 numbers

In [2]:
a  = int(input())
b = int(input())
print('add : ',a+b)

2
4
add :  6

#### Write a py prog to find remainder(r) when a no. is divided by z

In [3]:
a = int(input())
z = int(input())
print(a%z)

10
2
0

#### Check the type of the variable assigned using input()

In [8]:
a = 12
b = 12.0
c = 'fdvd'
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'str'>

#### Use comparison operator to find out wheather a given vaiable a is greator than b or not

In [10]:
a = int(input())
b = int(input())
print(a>b)

4
1
True

#### Use py prog to find the average of 2 no's entered by the user

In [12]:
a = int(input())
b = int(input())
print('avg : ',(a+b)/2)

12
12
avg :  12.0

#### Write a py prog to calculate square of a number created by the user

In [14]:
a = int(input())
print(a ** 2)

3
9

# T:4

#### Write a py prog to display a user entered name followed by good afternoon using input() function.

In [20]:
name = input("enter the name : ")
print("good afternoon",name)

enter the name : neo
good afternoon neo

In [25]:
name = input("enter the name : ")
print("good afternoon "+ name)

enter the name : yuki
good afternoon yuki

#### Write a prog to fill in a letter template given below with name and date

Dear <|name|>
       you are selected!
     <|date|>

In [29]:
letter = '''Dear <|name|>
you are selected!
<|date|>
'''
name = input("enter name: ")
date = input("enter date: ")

letter = letter.replace("<|name|>",name)
letter = letter.replace("<|date|>",date)
print(letter)

enter name: yuki
enter date: 10-09-8989
Dear yuki
you are selected!
10-09-8989

#### Write a prog. to detect double spaces in a string

In [33]:
q = "If you don’t like  the road you’re walking, start paving another one."
db = "  " in q
print(db)

True

#### Replace the double spaces from the problm with single space

In [51]:
s = "Embrace the glorious mess that you    are  "
s = s.replace("    "," ")
print(s)

Embrace the glorious mess that you are

#### Write a prog. to format the folln. letter using escape sequence characters.

letter = "Dear Harry, This python course is nice. Thanks !"

In [55]:
letter = "Dear Den, This python course is nice. Thanks !"

In [57]:
f_letter = "Dear Den,\n\tThis python course is nice.\nThanks !"
print(f_letter)

Dear Den,
	This python course is nice.
Thanks !

# T:4

#### Write a prog to store 7 fruits in a list entered by the user

In [4]:
f1 = input("enter the fruits name : ")
f2 = input("enter the fruits name : ")
f3 = input("enter the fruits name : ")
f4 = input("enter the fruits name : ")
f5 = input("enter the fruits name : ")
f6 = input("enter the fruits name : ")
f7 = input("enter the fruits name : ")
l= [f1,f2,f3,f4,f5,f6,f7]

enter the fruits name : apple
enter the fruits name : mango
enter the fruits name : guvava
enter the fruits name : banana
enter the fruits name : cherry
enter the fruits name : pine apple
enter the fruits name : melon

In [5]:
print(l)

['apple', 'mango', 'guvava', 'banana', 'cherry', 'pine apple', 'melon']

Using For Loop

In [27]:
n = int(input("enter the no. of fruits you wannaa add : "))
l1= []
i = 0
for i  in range(i,n):
    f = input("enter the fruits name : ")
    l1.append(f)
    i = i+1
    
print(l1)

enter the no. of fruits you wannaa add : 3
enter the fruits name : apple
enter the fruits name : guvava
enter the fruits name : muskmelon
['apple', 'guvava', 'muskmelon']

#### Write a prog. to accept marks of 6 students and display them in a sorted manner.

Using For Loop

In [32]:
n = int(input("enter the no of students : "))
l2= []
i = 0
for i  in range(i,n):
    f = int(input("enter their marks  : "))
    l2.append(f)
    i = i+1
    
print(l2)

enter the no of students : 6
enter their marks  : 67
enter their marks  : 89
enter their marks  : 90
enter their marks  : 24
enter their marks  : 43
enter their marks  : 12
[67, 89, 90, 24, 43, 12]

In [34]:
l2.sort()
print(l2)

[12, 24, 43, 67, 89, 90]

Using Normal Methods

In [35]:
m1 = int(input("Enter the marks of student : "))
m2 = int(input("Enter the marks of student : "))
m3 = int(input("Enter the marks of student : "))
m4 = int(input("Enter the marks of student : "))
m5 = int(input("Enter the marks of student : "))
m6 = int(input("Enter the marks of student : "))
lst = [m1,m2,m3,m4,m5,m6]
lst.sort()
print(lst)

Enter the marks of student : 45
Enter the marks of student : 89
Enter the marks of student : 6
Enter the marks of student : 45
Enter the marks of student : 78
Enter the marks of student : 45
[6, 45, 45, 45, 78, 89]

#### Check that Tuple cannot be changed in Python

In [36]:
tup = (89,7,34,2,4)
tup[0] = 78
print(tup)

TypeError: 'tuple' object does not support item assignment

#### Write a prog. to sum a list with 4 numbers

In [39]:
lt = [45, 45, 78, 89]
sum(lt)

257

or

In [40]:
print('sum : ',lt[0]+lt[1]+lt[2]+lt[3])

sum :  257

#### Write a prog. to count the number of zero's in the given tuple

In [44]:
tp = (7,0,8,0,0,9)
tp.count(0)

3

# T:5

#### Write a prog. to create a dict. of Hind words with values as their english translation.Provide user with an option to look it up!

In [3]:
hindi_dic = {"kar":"do", "yaad":"Remember", "khus":"happy"}
print(hindi_dic,type(hindi_dic))

{'kar': 'do', 'yaad': 'Remember', 'khus': 'happy'} <class 'dict'>

In [6]:
print("options are :",hindi_dic)
a = input("eneter hindi words: ")
print("the meaning of this word is: ",hindi_dic.get(a))

options are : {'kar': 'do', 'yaad': 'Remember', 'khus': 'happy'}
eneter hindi words: kar
the meaning of this word is:  do

or

In [8]:
print("options are :",hindi_dic)
a = input("eneter hindi words: ")
print("the meaning of this word is: ",hindi_dic[a])
# this method we will throw error if the key is not present

options are : {'kar': 'do', 'yaad': 'Remember', 'khus': 'happy'}
eneter hindi words: khus
the meaning of this word is:  happy

#### Write a prog. to input 8 numbers from the user and display all the unique no. once.

In [11]:
e = int(input("no of inpuuts you want to give : "))
i = 0
for i in range(i,e):
    a = int(input("enter unique no.s : "))
    i = i+1
    print(a)

no of inpuuts you want to give : 8
enter unique no.s : 67
67
enter unique no.s : 78
78
enter unique no.s : 89
89
enter unique no.s : 45
45
enter unique no.s : 34
34
enter unique no.s : 78
78
enter unique no.s : 78
78
enter unique no.s : 34
34

Using Set{}

In [13]:
n1 = int(input("enter no. 1 : "))
n2 = int(input("enter no. 2 : "))
n3 = int(input("enter no. 3 : "))
n4 = int(input("enter no. 4 : "))
n5 = int(input("enter no. 5 : "))
n6 = int(input("enter no. 6 : "))
n7 = int(input("enter no. 7 : "))
n8 = int(input("enter no. 8 : "))
s = {n1,n2,n3,n4,n5,n6,n7,n8}
print(s,type(s))

enter no. 1 : 878
enter no. 2 : 79
enter no. 3 : 45
enter no. 4 : 6
enter no. 5 : 34
enter no. 6 : 23
enter no. 7 : 56
enter no. 8 : 8
{34, 6, 8, 45, 878, 79, 23, 56} <class 'set'>

----

In [15]:
e = int(input("no of inpuuts you want to give : "))
i = 0
s = set()
for i in range(i,e):
    a = int(input("enter unique no.s : "))
    i = i+1
    s.add(a)
    
print(s,type(s))

no of inpuuts you want to give : 8
enter unique no.s : 89
enter unique no.s : 67
enter unique no.s : 45
enter unique no.s : 7
enter unique no.s : 23
enter unique no.s : 12
enter unique no.s : 11
enter unique no.s : 9
{67, 7, 9, 11, 12, 45, 23, 89} <class 'set'>

#### Can we have a set with 18(int) and "18"(str) as a value in it ?

In [16]:
st = {18,"18"}
print(st,type(st))

#yes we can have

{'18', 18} <class 'set'>

#### What will be the length of the following set s :

In [17]:
s = set()
s.add(20)
s.add(20.0)
s.add("20")
print(s,type(s),len(s))
# In set 20.0 and 20 is considered as same

{20, '20'} <class 'set'> 2

In [22]:
print(type(20.0),type(20))

<class 'float'> <class 'int'>

#### what is the type of s ? s= {}

In [25]:
s = {}
print(type(s))

#dict

<class 'dict'>

dict

#### Create an empty dict. Allow 4 friends to enter favourite laung.as  values and use keys as their names. Assume that the names are unique

In [28]:
favlang = {}
a = input()
b = input()
c = input()
d = input()
favlang["MJ"]=a
favlang["Rin"]=b
favlang["Neha"]=c
favlang["Rinu"]=d
print(favlang,type(favlang))

hindi
eng
guj
korean
{'MJ': 'hindi', 'Rin': 'eng', 'Neha': 'guj', 'Rinu': 'korean'} <class 'dict'>

#### If the name of 2 friends are the same. What will be in case of the above prob.

In [29]:
favlang = {}
a = input()
b = input()
c = input()
d = input()
favlang["MJ"]=a
favlang["Rin"]=b
favlang["Rinu"]=c
favlang["Rinu"]=d
print(favlang,type(favlang))

# latest value is considered for the repreated key

eng
french
guj
hindi
{'MJ': 'eng', 'Rin': 'french', 'Rinu': 'hindi'} <class 'dict'>

#### Can you change the values inside a list which is contained in set se

se = {8,7,12,"harry",[1,2]}

NO

# T:6

Write a prog. to find the greatest of 4 numbers entered by the user.

In [1]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())
if(a>b and a>c and a>d):
    print("a is the greatest")
elif(b>a and b>c and b>d):
    print("b is the greatest")
elif(c>a and c>b and c>d):
    print("c is the greatest")
else:
    print("d is the greatest")

12
23
34
45
d is the greatest

In [2]:
n1 = int(input())
n2 = int(input())
n3 = int(input())
n4 = int(input())
if(n1>n4):
    f1=n1
else:
    f1=n2
    
if(n2>n3):
    f2=n2
else:
    f2=n3
if(f1>f2):
    print(str(f1) + " is greatest")
else:
    print(str(f2) + " is greatest")

23
45
34
12
45 is greatest

Write a prog. to find out whether a student is pass or fail, if it requires total 40% and at least 33% in each subject to pass. Assume 3 subjects and take total marks as input from the user

In [25]:
s1 = int(input())
s2 = int(input())
s3 = int(input())
tm = s1+s2+s3
tm_p = tm/3

if(tm_p>=40 and (s1>=33 or s2>=33 or s3>=33)):
    print("he is pass")
else:
    print("he is fail")

34
34
34
he is fail

or

In [23]:
s1 = int(input())
s2 = int(input())
s3 = int(input())
tm = s1+s2+s3

if(s1<33 or s2<33 or s3<33):
    print("You are failed dude because you have less than 33% in 1 sub")
if(((s1+s2+s3)/3)<40):
    print("You are failed dude because you have less than 40% in total")
else:
    print("You are pass my boy")

34
34
34
You are failed dude because you have less than 40% in total

A spam comment is defined as a text containing the folln keywords.
"make a lot of money","buy now","subscribe this","click this". Write a prog. to detect these spams.

In [39]:
cm = input()
print(cm,type(cm))
if ("make a lot of money" in cm):
    print("This message is spam")
elif("buy now" in cm):
    print("This message is spam")
elif("subscribe this" in cm):
    print("This message is spam")
elif("click this" in cm):
    print("This message is spam")
else:
    print("Its a genuine message")

fhh jggj
fhh jggj <class 'str'>
Its a genuine message

or

In [45]:
cm = input()
print(cm,type(cm))

if ("make a lot of money" in cm):
    spam = True
elif("buy now" in cm):
    spam = True
elif("subscribe this" in cm):
    spam = True
elif("click this" in cm):
    spam = True
else:
    spam = False
    
if(spam == True):
    print("This message is spam")
else:
    print("Its a genuine message")

click this
click this <class 'str'>
This message is spam

Write a prog. to find whether a given username contains less than 10 characters or not.

In [53]:
ur = input()
l1 = list(ur)
print("l1 :",l1)
ch = len(l1)
print("no of elements in username: ",ch)
if(ch>10):
    print("**username contains more than 10 characters**")
else:
    print("**username contains less than 10 characters**")

qwertasdfg
l1 : ['q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g']
no of elements in username:  10
**username contains less than 10 characters**

Write a prog. to find out whether a given name is pressent in a list or not.

In [57]:
# Taking names of people as input
ln = input()
print(ln)
people = ln.split(" ")
print("List : ",people)

john raj key lin bat
john raj key lin bat
List :  ['john', 'raj', 'key', 'lin', 'bat']

In [62]:
nm = input("enter the name to check : ") 
if nm in people:
    print("name is present in the list")
else:
    print("name is not present in the list")

enter the name to check : kiol
name is not present in the list

Write a prog. to find out whether a given number is pressent in a list or not.

In [63]:
lno = input()
print(lno)
no_list = lno.split(" ")
print("List : ",no_list)

23 24
23 24
List :  ['23', '24']

In [67]:
no = int(input("enter the no. to check"))
if no in no_list:
    print("no. is present in the list")
else:
    print("no. is not present in the list")

enter the no. to check34
no. is not present in the list

#### Getting input of string and no in list

In [70]:
lno = input()
print(lno)
no_list = lno.split(",")
print("List : ",no_list)

67,89,77
67,89,77
List :  ['67', '89', '77']

In [71]:
lno = input()
print(lno)
no_list = lno.split(",")
print("List : ",no_list)

Thanks,God
Thanks,God
List :  ['Thanks', 'God']

In [72]:
lno = input()
print(lno)
no_list = lno.split(" ")
print("List : ",no_list)

67 86 89
67 86 89
List :  ['67', '86', '89']

In [74]:
lno = input()
print(lno)
no_list = lno.split(" ")
print("List : ",no_list)

john jim nki
john jim nki
List :  ['john', 'jim', 'nki']

#### input a list using input() and range() function

In [81]:
# int as input in list
l = []
n = int(input("List size"))
for i in range(0,n):
    print("index : ",i)
    add_item = int(input())
    l.append(add_item)
print("User list is ", l)

List size6
index :  0
78
index :  1
56
index :  2
67
index :  3
34
index :  4
23
index :  5
7
User list is  [78, 56, 67, 34, 23, 7]

In [82]:
# string as input in list
l = []
n = int(input("List size"))
for i in range(0,n):
    print("index : ",i)
    add_item = input()
    l.append(add_item)
print("User list is ", l)

List size4
index :  0
hello
index :  1
my boy
index :  2
kety
index :  3
light
User list is  ['hello', 'my boy', 'kety', 'light']

Write a prog to calculate the grade of a student from his marks from the folln scheme:
99 - 100 => Ex,
80 - 90 =>A,
70 - 80 =>B,
60 - 70 =>C,
50 - 60 =>D,
    <50 =>F.

In [9]:
mk = int(input("enter the marks from 100 : "))
if(mk>=90 and mk<=100):
    print("Extraordinary")
elif(mk>=80 and mk<90):
    print("A")
elif(mk>=70 and mk<80):
    print("B")
elif(mk>=60 and mk<70):
    print("C")
elif(mk>=50 and mk<60):
    print("D")
elif(mk<50):
    print("F")

enter the marks from 100 : 89
A

or

In [13]:
marks= int(input())
if marks>=90:
    print("Extra-ordinary")
elif marks>=80:
    print("A")
elif marks>=70:
    print("B")
elif marks>=60:
    print("C")
elif marks>=50:
    print("D")
else:
    print("F")

99
Extra-ordinary

Write a prog. to find out whether a given post is talking about "Heaven" or not.

In [16]:
pt = input()
print(pt)
n = "heaven"
if n in pt:
    print("yes the name is present")
else:
    print("LOL nothing here")

you are there heaven
you are there heaven
yes the name is present

# T:7 Loops

Write a prog. to print multiplication table of a given number using for loop.

In [2]:
tn = int(input())
for i in range(1,11):
    print(tn," x ",i," = ",i*tn)

3
3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

Write a prog. to greet all the person names stored in a list l1 and which starts with S.

l1 = ["harry","soham","sachin","rahul"]

In [25]:
l1 = ["harry","soham","sachin","rahul"]

In [30]:
for s in l1:
    if s.startswith('s'):
        print(s)

soham
sachin

Attempt P1 using while loop.
Write a prog. to print multiplication table of a given number using for loop.

In [6]:
tb = int(input())
i = 1
while(i<=10):
    print(tb," x ",i," = ",(i*tb))
    i += 1

4
4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

Write a Prog. to find whether a given no. is prime or not.

prime no: Prime numbers are the positive integers having only two factors, 1 and the integer itself.
eg : 2,3,31

In [24]:
no = int(input())

count = 0
for i in range(1,no+1):
    if no % i == 0: 
        count += 1
    
print("count : ",count)

if(count==2):
    print("Its a prime no")
else:
    print("Its non prime")

10
count :  4
Its non prime


Write a prog.  to find the sum of n natural numbers loop.

In [39]:
no = int(input("input : "))
sum = 0
for i in range(1,no+1):
    sum = sum + i
    print(sum)
print("Sum of natural no. : ",sum)

input : 3
1
3
6
Sum of natural no. :  6

Find factorial of a no using loop

In [42]:
no = int(input("input : "))
fact = 1
sum = 0
for i in range(1,no+1):
    fact = fact * i
    print(fact)
print("fact of no. : ",fact)

input : 3
1
2
6
fact of no. :  6

Write a prog. to print the folln star pattern.
for n= 3

*
* *
* * *

In [51]:
n = 3 
for i in range(3):
    print("*"*(i+1))

*
**
***

Write a prog. to print the folln star pattern. for n

*
**
***
****

In [55]:
n = 4
for i in range(4):
    print("*"*(i+1))

*
**
***
****

Write a prog. to print the folln star pattern.

  *
 * *
* * *

In [12]:
n = 3
for j in range(n):
    for i in range(j,n):
        print("&",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

& & & *
& & * *
& * * *

#### Solve any Star Pattern program in Python

1. Size
=> how many rows you want in the python

function parameter : def pattern(n):
Input from user : n = int(input("no of rows"))  or n = 5

2. Putting together nested loops

In [5]:
n = 5
print("*"*n)

*****

In [4]:
n=5
for i in range(n):
    print("*")

*
*
*
*
*

But we want all this starts in single row so we will add : end =" "

In [12]:
n = 5
for i in range(n):
    print("*",end ="") #zero space b/n stars

*****

In [11]:
n = 5
for i in range(n):
    print("*",end =" ") #1 space b/n stars

* * * * *

Printing a 5x5 square with stars

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [18]:
# 1st step
n = 5
for j in range(n):
    for i in range(n):
        print("*",end = " ")

* * * * * * * * * * * * * * * * * * * * * * * * *

In [19]:
# 2nd step
n = 5
for j in range(n):
    for i in range(n):
        print("*",end = "")
    print()

*****
*****
*****
*****
*****

Do not forget the print() statement before exiting the outer loop.

In [20]:
# Final code
n = 5
for j in range(n):
    for i in range(n):
        print("*",end = " ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

Print increasing triangle pattern.

*
* *
* * *
* * * *
* * * * *

In [30]:
n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *

Print increasing triangle pattern.

* * * * *
* * * *
* * *
* *
*

In [31]:
n = 5 
for j in range(n): #rows : outerloop n
    for i in range(j,n): # nested loop : (i,n)
        print("*",end=" ")
    print()

* * * * *
* * * *
* * *
* *
*

Print Right triangle pattern.

        *
      * *
    * * *
  * * * *
* * * * *

In [46]:
n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

Print given triangle

* * * * *
  * * * *
    * * *
      * *
        *

In [65]:
n = 5
for j in range(n):
    for i in range(j+1):
        print(" ",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

Printing Hill pattern
        
        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *

In [67]:
# 1st step 

n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j+1): # change range to j
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

          * *
        * * * *
      * * * * * *
    * * * * * * * *
  * * * * * * * * * *

In [70]:
# 2st step 

n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    print()

        *
      * *
    * * *
  * * * *

In [77]:
# final
n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [84]:
# 1st step
n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print(" ",end=" ")
    for i in range(j,n):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

  * * * * * * * * * *
    * * * * * * * *
      * * * * * *
        * * * *
          * *

In [87]:
# 2nd step
n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print(" ",end=" ")
    for i in range(j,n-1):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

Print the folln pattern.

         * 
  * * * * * * * * * 
        * * * 
    * * * * * * * 
      * * * * * 
      * * * * * 
    * * * * * * * 
        * * * 
  * * * * * * * * * 
          *

In [2]:
# 1st step

n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [3]:
# 2nd step 

n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print(" ",end=" ")
    for i in range(j,n-1):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [6]:
# final 
n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()
    for i in range(j+1): 
        print(" ",end=" ")
    for i in range(j,n-1):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

          *
  * * * * * * * * *
        * * *
    * * * * * * *
      * * * * *
      * * * * *
    * * * * * * *
        * * *
  * * * * * * * * *
          *

Print the folln pattern.
          
          *
        * * * 
      * * * * * 
    * * * * * * * 
  * * * * * * * * * 
    * * * * * * * 
      * * * * * 
        * * * 
          *

In [7]:
# 1st step

n = 5
for j in range(n):
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [8]:
# 2nd step 

n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print(" ",end=" ")
    for i in range(j,n-1):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [10]:
# 3rd step


n = 5
for j in range(n-1):  # n to n-1
    for i in range(j,n):
        print(" ",end=" ")
    for i in range(j):
        print("*",end=" ")
    for i in range(j+1):
        print("*",end=" ")
    print()

n = 5 
for j in range(n): # inner loop is set to n (rows)
    for i in range(j+1): #outer loop is set to n+1 (col) 
        print(" ",end=" ")
    for i in range(j,n-1):
        print("*",end = " ")
    for i in range(j,n):
        print("*",end = " ")
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

Write a prog to print (1 to n) in order

In [21]:
i = 1
for i in range(i,10+1):
    print(i)
    i += 1

1
2
3
4
5
6
7
8
9
10

Write a prog to print (1 to n) in reversed order.
that means (n to 1 )

In [28]:
n = 8
for i in range(n,0,-1):
	print (i)

8
7
6
5
4
3
2
1

write a prog. to print multiplication table in revere order

In [29]:
t = int(input())
n = 10
for i in range(n,0,-1):
    print(t," x ",i," = ",(t*i))

5
5  x  10  =  50
5  x  9  =  45
5  x  8  =  40
5  x  7  =  35
5  x  6  =  30
5  x  5  =  25
5  x  4  =  20
5  x  3  =  15
5  x  2  =  10
5  x  1  =  5

Prog to print table in ascending order.

In [44]:
n = 8  # table no.
i = 1
for i in range(i,11):
    print (i*n)
    i+=1

8
16
24
32
40
48
56
64
72
80

In [45]:
n = 8  # table no.
for i in range(1,11):
    print (i*n)

8
16
24
32
40
48
56
64
72
80

# T:8

Write a prog. using functn to find greatest of 3 number

In [54]:
def check(a,b,c):
    if a>b and a>c:
        print("a is greatest")
    elif(b>c and b>a):
        print("b is greatest")
    else:
        print("c is greatest")

In [57]:
check(121,99,56)

a is greatest

or

In [59]:
def checkl(a,b,c):
    l = [a,b,c]
    return max(l)

In [62]:
checkl(12,45,90)

90

or

In [2]:
def checkgt(a,b,c):
    if(a>b):
        if(a>c):
            return a
        else:
            return c
    else:
        if(b>c):
            return b
        else:
            return c

In [6]:
checkgt(97,78,69)

97

Write a prog. using function to convert celsius to fahrenheit

In [65]:
def temp(c):
    far = (c * 9/5) + 32
    return far

In [66]:
temp(33)

91.4

Write a recursive functn to calculate the sum of first n natural no's

In [42]:
def recur_sum(n):
    if n <= 1:
        return n
    else:
        return n + recur_sum(n-1)

In [43]:
recur_sum(5)

15

or

In [39]:
def sm(n):
    sum = (n*(n+1))/2
    return sum

In [41]:
sm(5)

15.0

How do you prevent a python print() functn to print a new line at the end

In [44]:
print("I",end = " ")
print("Will",end = " ")
print("Be",end = " ")
print("A",end = " ")
print("Millionaire",end = " ")

I Will Be A Millionaire

Write a py functn to print 1st n lines of the folln pattern

* * *
* *
*

In [64]:
n = 3
for j in range(n): #rows : outerloop n
    for i in range(j,n): # nested loop : (i,n)
        print("*",end=" ")
    print()

* * *
* *
*

or

In [65]:
n = 3
for i in range(n):
    print("*" * (n-i))

***
**
*

Write a python funtn which converts inches to cm

In [66]:
def incm(n):
    return (n*2.54)

In [67]:
incm(1)

2.54

Write a py functn to remove a given word from a list and update it at the same time

In [105]:
def re():
    le= int(input("enter the length : "))
    l = []
    for i in range(le):
        e = input("enter the element : ")
        l.append(e)
    print(l)
    o_string = input("old word/string : ")
    n_word = input("new word/string : ")
    if o_string in l:
        ind = l.index(o_string)
        l[ind] = n_word
    return l

In [108]:
re()

enter the length : 3
enter the element : ram
enter the element : raj
enter the element : rajesh
['ram', 'raj', 'rajesh']
old word/string : raj
new word/string : yuki

['ram', 'yuki', 'rajesh']

Write a py functn to remove a given word from a list and stop it at the same time

In [140]:
def lti(word):
    l1 = ['ram', 'yuki', 'rajesh']
    if word in l1:
        ind = l1.index(word)
        print(ind)
        l1.pop(ind)
    return l

In [141]:
lti("rajesh")

2

['ram', 'yuki']

Write a py functn to remove a given word from a list and spliting it at the same time

In [148]:
def pro(string,rword):
    s1 = string.replace(rword," ")
    return s1.split()

In [149]:
pro("i love you god","you")

['i', 'love', 'god']

write a py prog to seperate the word in string as individual elements (using list)

In [147]:
s1 = "hello god I love you"

s2 = s1.split(" ")
print(s2)

['hello', 'god', 'I', 'love', 'you']

Write a py funtn to print multiplication table of a given no

In [80]:
def tab(a):
    i = 1
    for i in range(i,11):
        print(a," x ",i," = ",a*i)

In [81]:
tab(5)

5  x  1  =  5
5  x  2  =  10
5  x  3  =  15
5  x  4  =  20
5  x  5  =  25
5  x  6  =  30
5  x  7  =  35
5  x  8  =  40
5  x  9  =  45
5  x  10  =  50

### Project 1 : Snake water gun game

In [156]:
def game(p1,p2):
       # p1 = input(" P1 : s for snake, w for water ,g for gun : ")
       # p2 = input(" P2 : s for snake, w for water ,g for gun : ")
        if(p1 == "s" and p2 == "s"):
            print("None won")
        elif(p1 == "s" and p2 == "w"):
            print("p1 won the game")
        elif(p1 == "s" and p2 == "g"):
            print("p2 won the game")

        elif(p1 == "w" and p2 == "s"):
            print("P2 won the game")
        elif(p1 == "w" and p2 == "w"):
            print("None won")
        elif(p1 == "w" and p2 == "g"):
            print("p2 won the game")
        
        elif(p1 == "g" and p2 == "s"):
            print("P1 won the game")
        elif(p1 == "g" and p2 == "w"):
            print("P1 won the game")
        elif(p1 == "g" and p2 == "g"):
            print("None won")

In [158]:
game("s","w")

p1 won the game

or

In [159]:
p1 = input(" P1 : s for snake, w for water ,g for gun : ")
p2 = input(" P2 : s for snake, w for water ,g for gun : ")
if(p1 == "s" and p2 == "s"):
    print("None won")
elif(p1 == "s" and p2 == "w"):
    print("p1 won the game")
elif(p1 == "s" and p2 == "g"):
    print("p2 won the game")

elif(p1 == "w" and p2 == "s"):
    print("P2 won the game")
elif(p1 == "w" and p2 == "w"):
    print("None won")
elif(p1 == "w" and p2 == "g"):
    print("p2 won the game")

elif(p1 == "g" and p2 == "s"):
    print("P1 won the game")
elif(p1 == "g" and p2 == "w"):
    print("P1 won the game")
elif(p1 == "g" and p2 == "g"):
    print("None won")

 P1 : s for snake, w for water ,g for gun : g
 P2 : s for snake, w for water ,g for gun : w
P1 won the game

Write a prog to generate random int in py

In [170]:
import random

print(random.randint(0,5)) # boundaries included

4

#### Project 1 : Snake water gun game with 1st player as human and 2nd player as comp.

In [181]:
import random
p1 = input("P1 : s(snake) w(water) g(gun) : ")
p2 = random.randint(1,3) # boundaries included
if p2 == 1:
    p2 = "s"
elif p2 == 2:
    p2 = "w"
elif p2 == 3:
    p2 = "g"
print("P2 : s(snake) w(water) g(gun) :",p2)


if(p1 == "s" and p2 == "s"):
    print("None won")
elif(p1 == "s" and p2 == "w"):
    print("p1 won the game")
elif(p1 == "s" and p2 == "g"):
    print("p2 won the game")

elif(p1 == "w" and p2 == "s"):
    print("P2 won the game")
elif(p1 == "w" and p2 == "w"):
    print("None won")
elif(p1 == "w" and p2 == "g"):
    print("p2 won the game")

elif(p1 == "g" and p2 == "s"):
    print("P1 won the game")
elif(p1 == "g" and p2 == "w"):
    print("P1 won the game")
elif(p1 == "g" and p2 == "g"):
    print("None won")

P1 : s(snake) w(water) g(gun) : s
P2 : s(snake) w(water) g(gun) : g
p2 won the game

# T: 9

Write a program to read the text from a given file "poems.txt" and find out whether it contains the word "twinkle"

In [3]:
with open("poem.txt") as f1:
    data = f1.read()
    if 'twinkle' in data:
        print("twinkle is present in the peom")
    else:
        print("twinkle is present in the peom")

twinkle is present in the peom

The functn in a prog. lets a user play a game and returns the score as an integer. You need to read a ffile "hiscore.txt" which is either blank or contains the previous hi score whenever game() breaks the hi score.

In [44]:
def game():
    return 66
score = game()
print("current score : ",score)

with open("highscore.txt") as f1:
    hs = f1.read()

import os
filesize = os.path.getsize("highscore.txt")
if filesize == 0:
    print("congrats, New high score is : ",score)
    with open("highscore.txt",'w') as f2:
        f2.write(str(score))
        
elif (score>int(hs)):
    print("congrats, New high score is : ",score)
    with open("highscore.txt",'w') as f2:
        f2.write(str(score))
else:
    print("game over")

current score :  66
game over

Checking the file is empty or not

In [46]:
import os
filesize = os.path.getsize("newhighscore.txt")

if filesize == 0:
    print("The file is empty: " + str(filesize))
else:
    print("The file is not empty: " + str(filesize))

The file is empty: 0

CONCEPT :

USE os.path.getsize() TO GET THE SIZE OF A FILE

Call os.path.getsize(filename) with filename as the name of the file to get the size of filename. 

If the size returned by os.path.getsize(filename) is 0, the file is empty.

Write a prog. to generate multiplication tables from 2 to 4

In [69]:
for i in range(2,5):
    print()
    for j in range(1,11):
        print(i," x ",j," = ",i*j)

2  x  1  =  2
2  x  2  =  4
2  x  3  =  6
2  x  4  =  8
2  x  5  =  10
2  x  6  =  12
2  x  7  =  14
2  x  8  =  16
2  x  9  =  18
2  x  10  =  20

3  x  1  =  3
3  x  2  =  6
3  x  3  =  9
3  x  4  =  12
3  x  5  =  15
3  x  6  =  18
3  x  7  =  21
3  x  8  =  24
3  x  9  =  27
3  x  10  =  30

4  x  1  =  4
4  x  2  =  8
4  x  3  =  12
4  x  4  =  16
4  x  5  =  20
4  x  6  =  24
4  x  7  =  28
4  x  8  =  32
4  x  9  =  36
4  x  10  =  40

Write a prog. to generate multiplication tables from 2 to 20 and write it to the different files. Place these files in a folder for a 13year old.

In [67]:
for h in range(2,21): # 2 to 20 table no
    with open(f"table/Mtable of {h}",'w') as f:
    #print()
        for i in range(1,11): # 1 to 10 int(i)
            f.write(f"{h}x{i}={h*i}\n")
    #break

A file contains a word "donkey" multiple times. You need to write a prog. which replaces this word with ###### by updating the same file.

#### Ex : Sample.txt

In [78]:
word = ["donkey",'devil','slut','fat']

with open("sample.txt") as f:
    data = f.read()
    print("old data : ",data)
    print()
for i in word:
    data = data.replace(i,"$####$^&")
    with open("sample.txt",'w') as f:
        f.write(data)
print("new data : ",data)

old data :  you are a donkey
you are fat liitle devil
dont say anything slut

new data :  you are a $####$^&
you are $####$^& liitle $####$^&
dont say anything $####$^&

#### Ex : sampl.txt

In [1]:
word = ['damn', 'jerk', 'ugly', 'stupid', 'fart knocker']
with open("sampl.txt") as f:
    data = f.read()
    print("old data :\n",data)
    print()
    
for i in word:
    data = data.replace(i,"###&*$$#")
    with open("sampl.txt",'w') as f:
        f.write(data)
print("new data : ",data)

old data :
 She was a damn,
and he was a jerk,
but not ugly or stupid just like the fart knocker.

new data :  She was a ###&*$$#,
and he was a ###&*$$#,
but not ###&*$$# or ###&*$$# just like the ###&*$$#.

#### Exploratory analysis of this prog.

##### Ex : poemstar.txt

In [3]:
word = ["twinkle","star","Twinkle"]
with open("poemstar.txt") as f:
    data = f.read()
    print("old data :\n",data)
    print()
    
for i in word:
    data = data.replace(i,"####$$")
    print("exploring data :\n",data)
    print()
    with open("poemstar.txt",'w') as f:
        f.write(data)
        
print("new data :\n",data)

old data :
 Twinkle twinkle little star
How I wonder what you are?
Up above the world so high
Like a diamond in the sky
Twinkle, twinkle, little star
How I wonder what you are?

exploring data :
 Twinkle ####$$ little star
How I wonder what you are?
Up above the world so high
Like a diamond in the sky
Twinkle, ####$$, little star
How I wonder what you are?

exploring data :
 Twinkle ####$$ little ####$$
How I wonder what you are?
Up above the world so high
Like a diamond in the sky
Twinkle, ####$$, little ####$$
How I wonder what you are?

exploring data :
 ####$$ ####$$ little ####$$
How I wonder what you are?
Up above the world so high
Like a diamond in the sky
####$$, ####$$, little ####$$
How I wonder what you are?

new data :
 ####$$ ####$$ little ####$$
How I wonder what you are?
Up above the world so high
Like a diamond in the sky
####$$, ####$$, little ####$$
How I wonder what you are?

#### Repeat the above prog. for the list of such words to be sensored.

Write a program file to mine a log file and find out whether it contains python

In [28]:
with open("log.txt") as f:
    data = f.read()
if ("Python"or"python") in data: #Its case sensitive
    print("python is present")
else:
    print("Its not present")

python is present

or

In [35]:
with open("log.txt") as f:
    data = f.read().lower()  #converting all the data to lower case
if "python" in data: #Its case sensitive
    print("python is present")
else:
    print("Its not present")

python is present

Write a prog. to find out the line no. where python is present from the above que.

ex: bat.txt

In [19]:
f = open('bat.txt')
word = input("enter the word you want to search :")
s = " " # blank space
l = []
count = 1
while(s):
    s= f.readline().lower()  #not case-sensitive
    l = s.split()
    if word in l:
        print("line no. : ",count," : ",s)
    count+=1

enter the word you want to search :batman
line no. :  3  :  i am batman !

line no. :  6  :  i am batman !

or

In [25]:
f = open('bat.txt')
word = input("enter the word you want to search :")
s = " " # blank space

count = 1
s = f.readlines()

for i in s:
    l = i.split() #case-sensitive
    if word in l: 
        print("line no. : ",count," : ",i)
    count+=1

enter the word you want to search :Batman
line no. :  3  :  I am Batman !

line no. :  6  :  I am Batman !

Write a prog. to make a copy of a text file "nightpoem.txt"

In [3]:
with open("nightpoem.txt") as f:
    data = f.read()
    print("data -> night poem: ",data)
    print()
    
with open("copy.txt",'w') as f:
    f.write(data)
    print("data -> copy: ",data)

data -> night poem:  Do not go gentle into that good night,
Old age should burn and rave at close of day;
Rage, rage against the dying of the light.

data -> copy:  Do not go gentle into that good night,
Old age should burn and rave at close of day;
Rage, rage against the dying of the light.

Write a prog. to find out whether a file is identical & matches the content of another file.

In [9]:
# f1 : nightpoem.txt
# f2 : copy.txt

f1 = open("nightpoem.txt")
data1 = f1.read()

f2 = open("copy.txt")
data2 = f2.read()

if data1==data2:
    print("data is similar in both the files")
else:
    print("different data")

data is similar in both the files

write a prog. to wipe out the contents of a file using python.

In [24]:
# using  2nd file (empty file) to write in the 1st file
# f1 : nightpoem.txt
# f2 : empty.txt

import os

f2 = open("empty.txt")
data2 = f2.read()

f1 = open("nightpoem.txt",'w')
data1 = f1.write(data2)


filesize = os.path.getsize("nightpoem.txt")

if filesize == 0:
    print("The file is empty: " + str(filesize))
else:
    print("The file is not empty: " + str(filesize))

The file is empty: 0

or ( efficient method)

In [20]:
# wiping nightpoem.txt

with open("nightpoem.txt",'w') as f:
    f.write(" ")

In [25]:
# checking if the file is empty or not
import os

filesize = os.path.getsize("nightpoem.txt")

if filesize == 0:
    print("The file is empty: " + str(filesize))
else:
    print("The file is not empty: " + str(filesize))

The file is empty: 0

Write a prog. to rename a file "nightpoem.txt" to "renamed_by_py.txt"

In [32]:
import os

f1 = open("nightpoem.txt")
data = f1.read()
    
with open("renamed_by_py.txt",'w') as f2:
    f2.write(data)
f1.close()

if os.path.exists("nightpoem.txt"):
    os.remove("nightpoem.txt")
    print("file removed")
else:
    print("file does not exist")

file removed

In [33]:
# reading the file "renamed_by_py.txt"

with open("renamed_by_py.txt") as f:
    data = f.read()
    print(data)

 Do not go gentle into that good night,
Old age should burn and rave at close of day;
Rage, rage against the dying of the light.

# T: 10

Create a class programmer for storing information of few programmers working at microsoft.

In [20]:
class programmer:
    def __init__(self):
        self.company = "microsoft"
    
    # a method for printing company name
    def print_Cname(self):
        print(self.company)
    
    def set_details(self,name,age,gender,salary):
        self.name = name
        self.age = age
        self.gender = gender
        self.salary = salary
        
    def get_details(self):
        print(self.name, self.age, self.gender, self.salary)

In [21]:
abhi = programmer()

In [17]:
abhi.print_Cname()

microsoft

In [22]:
abhi.set_details("raj",56,"Male",67676)

In [23]:
abhi.get_details()

raj 56 Male 67676

write a class calculator capable of finding square, cube & square root of a no.

In [80]:
import numpy as np
class calculator:
    def sq(self,no):
        self.no = no
        return (self.no*self.no)
    def cube(self,no):
        self.no = no
        return (self.no ** 3)
    def cubeRoot(self,no):
        self.no = no
        return (np.cbrt(self.no))
        #return (self.no ** (1./3.))
    def SqRoot(self,no):
        self.no = no
        return (self.no ** 2)

In [81]:
c1 = calculator()

In [47]:
c1.sq(2)
# square

4

In [71]:
# cuberoot
c1.cubeRoot(9261)

21.0

In [72]:
c1.cubeRoot(64)

4.0

In [77]:
# SqRoot
c1.SqRoot(16)

256

In [82]:
# cube
c1.cube(2)

8

Add a static method in problem 2 to gree the user with hello

In [89]:
import numpy as np
class calculator:
    @staticmethod
    def __init__():
        print("Hello user")
    
    def sq(self,no):
        self.no = no
        return (self.no*self.no)
    def cube(self,no):
        self.no = no
        return (self.no ** 3)
    def cubeRoot(self,no):
        self.no = no
        return (np.cbrt(self.no))
        #return (self.no ** (1./3.))
    def SqRoot(self,no):
        self.no = no
        return (self.no ** 2)

In [90]:
raj = calculator()

Hello user

or// greeting user with its actual name(obj)

In [98]:
class calc:
    @staticmethod
    def __init__(name):
        print("Hello user ",name)

In [99]:
raj = calc("rajesh")

Hello user  rajesh

Write a static method to greet the user with hello

In [14]:
class Employ:
    @staticmethod
    def greet(name):
        return print("welcome" ,name)

In [15]:
rin = Employ()

In [7]:
rin.greet("rin")

welcome rin

or

In [11]:
class Employ:
    @staticmethod
    def greet():
        return print("welcome user")

In [12]:
rinu = Employ()

In [13]:
rinu.greet()

welcome user

Write a class Train which has methods to book a ticket, get status (no of seats) and get fare information of trains running under Indian Railways

In [49]:
class Train():
    def __init__(self,tname,fare,seats):
        print("welcome to train booking system")
        self.tname = tname
        self.fare = fare
        self.seats = seats
        
    def getStatus(self):
        print(f"The name of the train is {self.tname} ")
        print(f"Available no of seats are : {self.seats}")
        
    def fairInfo(self):
        print(f"Cost of fair is {self.fare}")
        # f string{}
    
    def book(self):
        if (self.seats>0):
            print("You have successfully booked the ticket")
            print(f"Your sear no is {self.seats}")
            self.seats -= 1
        else:
            print("Booking failed")
            print("Seats are full")
    
    def cancelTicket(self):
        print(f"{self.seats+1} Ticket cancelled successfully")
        self.seats += 1

In [53]:
p1 = Train("rajdhani",787,78)

welcome to train booking system

In [54]:
p1.getStatus()

The name of the train is rajdhani
Available no of seats are : 78

In [55]:
p1.fairInfo()

Cost of fair is 787

In [56]:
p1.book()

You have successfully booked the ticket
Your sear no is 78

In [57]:
p1.cancelTicket()

78 Ticket cancelled successfully

In [58]:
p1.getStatus()

The name of the train is rajdhani
Available no of seats are : 78

Can you change the self parameter inside a class to something else(say "rin"). Try changing self to "slf" or "rin" and see the effects.

In [66]:
class Sample:
    def __init__(self,name):
        self.name = name
        return print(self.name)

In [67]:
p1 = Sample("rin")

rin

In [73]:
class Sample1:
    def __init__(tim,name):
        tim.name = name
        return print(tim.name)

In [79]:
p2 = Sample1("rin")

rin

In [76]:
class Sample2:
    def __init__(slf,name):
        slf.name = name
        return print(slf.name)

In [78]:
p3 = Sample2("tim")

tim

# T:11

Create a class C-2dVector and use it to create another class representing a 3-d Vector

Hint : Use Inhertiance

In [21]:
class C2d:
    def __init__(self,i,j):
        self.i = i
        self.j = j
        
    def __str__(self):
        return f"{self.i}i + {self.j}j"
    
class C3d(C2d):
    def __init__(self,i,j,k):
        super().__init__(i,j)
        self.k = k
        
    def __str__(self):
        return f"{self.i}i + {self.j}j + {self.k}k"

In [27]:
v2d = C2d(1,2)

In [28]:
v3d = C3d(1,7,3)

In [29]:
print(v2d)

1i + 2j

In [30]:
print(v3d)

1i + 7j + 3k

Create a class pets from a class Animals and further create class Dog from Pets. Add a method bark to class Dog using Inheritance

In [63]:
class Animals:
    def __init__(self,color,legs):
        self.color = color
        self.legs = legs
        print(self.color, self.legs)
class Pet(Animals):
    def __init__(self,pn,color,legs):
        super().__init__(color,legs)
        self.pn = pn
        print (f"Pet name is {self.pn}")
        
class Dog(Pet):
    def __init__(self,pn,color,legs):
        super().__init__(pn,color,legs)
    def bark(self):
        print("the dog barks")

In [46]:
a1 = Animals("red",4)

red 4

In [52]:
p1 = Pet("kittu","brown",4)

brown 4
Pet name is kittu

In [64]:
d1 = Dog("nin","blue",4)

blue 4
Pet name is nin

In [65]:
d1.bark()

the dog barks

Create a class pets from a class Animals and further create class Dog from Pets

In [67]:
class Animals:
    animalType = "mammal"
class Pets:
    color = "white"
class Dog:
    @staticmethod
    def bark():
        print("bow bow")

In [68]:
d = Dog()

In [69]:
d.bark()

bow bow

Create a class Employee and add salary and increment properties to it.
Write a method salary after increment method with a @property decorator with a Setter which changes the value of increment based on the salary

In [72]:
class Employee:
    def __init__(self,sal,inc):
        self.sal = sal
        self.inc = inc
        
    @property
    def salaryAfterIncrement(self):
        return self.sal*self.inc
    
    @salaryAfterIncrement.setter
    def salaryAfterIncrement(self,salary):
        self.inc = salary/self.sal

In [81]:
e1 = Employee(1000,1.5)

In [78]:
e1.sal

1000

In [82]:
e1.inc

1.5

In [83]:
e1.salaryAfterIncrement

1500.0

In [84]:
e1.salaryAfterIncrement = 2000

In [85]:
e1.inc

2.0

In [86]:
e1.sal

1000

Write a class to represent complex numbers along with overload operators + and * which adds and multiplies them.

In [191]:
class Comp:
    def __init__(self,a,b):
        self.a = a
        self.b = b

    def __add__(self,o):
        return self.a + o.a, self.b + o.b

    def __mul__(self,o):
        return self.a*o.a , self.b*o.b
    

    def __str__(self):
        return f" {self.a} + {self.b}i"

In [192]:
c1 = Comp(100,10)

In [193]:
c2 = Comp(1,2)

In [194]:
print(c1)

 100 + 10i

In [195]:
print(c2)

 1 + 2i

In [196]:
c1+c2

(101, 12)

In [197]:
c1*c2

(100, 20)

Write a class vector representing a vector of n dimension. Overoad the + and * operator which calculates the sum and the dot product of them

In [132]:
class Vector:
    def __init__(self,vec):
        self.vec = vec
    
    def __str__(self):
        str = " "
        index = 0
        for i in self.vec:
            str += f" {i}a{index}"
            index += 1
        return str
    
    def __add__(self,o):
        res_list = []
        for i in range(len(self.vec)):
            res_list.append(self.vec[i] + o.vec[i])
        return Vector(res_list)
    
    def __mul__(self,o):
        sum =  0
        for i in range(len(self.vec)):
            sum += self.vec[i] * o.vec[i]
        return sum

In [133]:
v1 = Vector([3,9,4])

In [134]:
print(v1)

  3a0 9a1 4a2

In [135]:
v2 = Vector([23,45,9])

In [136]:
print(v2)

  23a0 45a1 9a2

In [137]:
print(v1+v2)

  26a0 54a1 13a2

In [138]:
print(v1*v2) #(3*23 + 9*45 + 4*9)

510

### Some Old concept's

##### Printing list in python

Using For loop

In [35]:
j = [4,5,3,"sh","rt",45]
i = 0
for i in range(len(j)):
    print(j[i])

4
5
3
sh
rt
45

In [41]:
j = [4,5,3,"sh","rt",45]
l = len(j)
for i in range(l):
    print(j[i])

4
5
3
sh
rt
45

In [39]:
j = [4,5,3,"sh","rt",45]
for i in j:
    print(i)

4
5
3
sh
rt
45

Using while loop

In [42]:
j = [4,5,3,"sh","rt",45]
l = len(j)
i = 0
while i<l:
    print(j[i])
    i += 1

4
5
3
sh
rt
45

Using list comprehension (Possibly the most concrete way).

In [45]:
j = [4,5,3,"sh","rt",45]

# using list comprehension
[print(i) for i in j]

4
5
3
sh
rt
45

[None, None, None, None, None, None]

Using Numpy ::
        
        
For very large n-dimensional lists (for example an image array), it is sometimes better to use an external library such as numpy.

In [46]:
# Python program for
# iterating over array
import numpy as geek
  
# creating an array using 
# arrange method
a = geek.arange(9)
  
# shape array with 3 rows 
# and 4 columns
a = a.reshape(3, 3)
  
# iterating an array
for x in geek.nditer(a):
    print(x)

0
1
2
3
4
5
6
7
8

##### adding elements of 2 list (not appeding)

Native Method

In [47]:
list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]

# using naive method to 
# add two list 
res_list = []
for i in range(0, len(list1)):
    res_list.append(list1[i] + list2[i])
  
    # printing resultant list 
print ("Resultant list is : " + str(res_list))

Resultant list is : [5, 8, 10, 8, 18]

Using list comprehension

In [60]:
list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]

# using naive method to 
# add two list 
res_list = [list1[i] + list2[i] for i in range(len(list1))]
  
    # printing resultant list 
print ("Resultnt list is : " + str(res_list))

Resultnt list is : [5, 8, 10, 8, 18]

Using map() + add()

In [62]:
from operator import add 
list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]
# using map() + add() to 
# add two list 
res_list = list(map(add,list1,list2))
print("result list : ",res_list)

result list :  [5, 8, 10, 8, 18]

##### multiplying elements of 2 list

Using Native method

In [63]:
list1 = [1, 3, 4, 6, 8]
list2 = [4, 5, 6, 2, 10]
# using naive method to 
# Multiplying two lists
res_list = []
for i in range(0, len(list1)):
    res_list.append(list1[i] * list2[i])

In [64]:
print(res_list)

[4, 15, 24, 12, 80]

Write __str__() method to print the vector as follows:
7i + 8j + 10k
Assume vector of dimension 3 for the problem

In [24]:
class Vect:
    def __init__(self, a, b, c): 
        self.a = a 
        self.b = b 
        self.c = c
    def __str__(self):
        return f"{self.a}i + {self.b}j + {self.c}k"

In [25]:
v1 = Vect(7,8,9)

In [26]:
print(v1)

7i + 8j + 9k

Override the __len__() method on Vector of problem 5 to display the dimensions of the vector

In [28]:
class Vector:
    def __init__(self,vec):
        self.vec = vec
    
    def __str__(self):
        str = " "
        index = 0
        for i in self.vec:
            str += f" {i}a{index}"
            index += 1
        return str
    
    def __add__(self,o):
        res_list = []
        for i in range(len(self.vec)):
            res_list.append(self.vec[i] + o.vec[i])
        return Vector(res_list)
    
    def __mul__(self,o):
        sum =  0
        for i in range(len(self.vec)):
            sum += self.vec[i] * o.vec[i]
        return sum
    
    def __len__(self):
        return len(self.vec)

In [34]:
v1 = Vector([1,4,6])
v2 = Vector([1,6,9])

In [36]:
print(v1+v2)

  2a0 10a1 15a2

In [37]:
print(v1*v2)

79

In [38]:
print(len(v1))

3

In [39]:
print(len(v2))

3

In [40]:
v3 = Vector([1,4,6,43])
v4 = Vector([1,4,6])

In [42]:
print(len(v3))

4

In [44]:
print(len(v4))

3

In [47]:
class Vector:
    def __init__(self,vec):
        self.vec = vec
    
    def __str__(self):
        str = " "
        index = 0
        for i in self.vec:
            str += f" {i}a{index}"
            index += 1
        return str
    
    def __add__(self,o):
        res_list = []
        if(len(self.vec)==len(o.vec)):
            for i in range(len(self.vec)):
                res_list.append(self.vec[i] + o.vec[i])
            return Vector(res_list)
        else:
            print("addn of these 2 vectors is not possible")
            
    def __mul__(self,o):
        sum =  0
        if(len(self.vec)==len(o.vec)):
            for i in range(len(self.vec)):
                sum += self.vec[i] * o.vec[i]
            return sum
        else:
            print("multn of these 2 vectors are not possible")
    
    def __len__(self):
        return len(self.vec)

In [53]:
v1 = Vector([1,2,3,5])
v2 = Vector([4,5,6])
v3 = Vector([2,7,8])

In [54]:
print(v1+v2)

addn of these 2 vectors is not possible
None

In [55]:
print(v2+v3)

  6a0 12a1 14a2

In [56]:
print(v1*v2)

multn of these 2 vectors are not possible
None

In [57]:
print(v2*v3)

91

## Project :2

We are going to write a prog. that generates a random no. and asks the user to guess it.

If the player guess is higher then the actual number, the prog displays 
"Lower no please"

Similiarly if the user guess is too low, the program prints 
"higher number please"

When the user guesses the correct no. , the prog. displays the no. of guesses the player used to arrive at the number.

HINT : use the random module

In [99]:
import random

rgn = random.choice([12,23,45,67,65,43]) #random generated no from the list of no's
user_inp = None

#print("rgn ",rgn)
while(user_inp != rgn):
    user_inp = int(input("Enter your no: "))
    if(user_inp>rgn):
        print("Lower no. please")
    elif(user_inp<rgn):
        print("greater no. please")
    else:
        print("the guess is correct")

rgn  45
Enter your no: 23
greater no. please
Enter your no: 99
Lower no. please
Enter your no: 45
the guess is correct

or

In [108]:
import random

rgn = random.randint(1,100)
user_inp = None
print(rgn)
no_guess = 0
print("rgn ",rgn)

while(user_inp != rgn):
    user_inp = int(input("Enter your no: "))
    if(user_inp>rgn):
        print("Lower no. please")
        no_guess += 1
    elif(user_inp<rgn):
        print("greater no. please")
        no_guess += 1
    else:
        print("the guess is correct")
        no_guess += 1

print("no of guesses : ",no_guess)

19
Enter your no: 23
Lower no. please
Enter your no: 9
greater no. please
Enter your no: 78
Lower no. please
Enter your no: 19
the guess is correct
no of guesses :  4

Getting the highscore and storing it in highscore file if no of guesses rae less than previous high score.

In [8]:
import random

rgn = random.randint(1,100)
user_inp = None
print(rgn)
no_guess = 0
#print("rgn ",rgn)

while(user_inp != rgn):
    user_inp = int(input("Enter your no: "))
    if(user_inp>rgn):
        print("Lower no. please")
        no_guess += 1
    elif(user_inp<rgn):
        print("greater no. please")
        no_guess += 1
    else:
        print("the guess is correct")
        no_guess += 1

print("no of guesses : ",no_guess)
with open("highsc.txt") as f:
    highsc = int(f.read())

if(no_guess<highsc):
    print("you have broken the high score $$ ")
    with open("highsc.txt",'w') as f:
        f.write(str(no_guess))

10
Enter your no: 13
Lower no. please
Enter your no: 10
the guess is correct
no of guesses :  2
you have broken the high score $$

#### Concept:

Prog to generate random no

random.randint()

The random.randint() method returns a random integer between the specified integers.

In [64]:
import random
n = random.randint(1,10)
print(n)

2

Prog. to Generate Random Numbers within Range

random.randrange() method ::
returns a randomly selected element from the range created by the

start, stop and step arguments. 

The value of start is 0 by default.
Similarly, the value of step is 1 by default.

In [84]:
import random
n = random.randrange(1, 10, 2) # possible choices[1,3,5,7,9]
print(n)

9

===> Previous concept just for understanding

In [69]:
i = 0 
for i in range(1,11,2):
    print(i)
    i+=1

1
3
5
7
9

Prog. to generte rand no from a selective choice of elements

In [86]:
import random
n = random.choice('computer')
print(n)

m

In [88]:
import random
n = random.choice([12,23,45,67,65,43])
print(n)

67

##### Shuffle Elements Randomly

The random.shuffle() method randomly reorders the elements in a list.

In [91]:
numbers=[12,23,45,67,65,43]
random.shuffle(numbers)
print(numbers)

[12, 67, 45, 43, 23, 65]